.footer_section {
    background-image: url(../../img/index/bg_img.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: rgb(7 20 74 / 7%);
    }
    & .inner_section {
        & .footer_box {
            & .box_head {
                letter-spacing: 0.5px;
                // text-shadow: 0 2px 3px rgba($black, 0.6);
            }
            & .links_footer {
                & li {
                    & a {
                        letter-spacing: 1px;
                        color: $black;
                        // text-shadow: 0 2px 3px rgba($black, 0.6);
                        text-decoration: none;
                        font-weight: 600;
                        text-transform: capitalize;
                        transition: 0.5s;
                        &:hover{
                            text-shadow: none;
                            color: rgba($black, 0.9);
                            transform: translateX(10px);
                        }

                        & i {
                            color: $theme2;
                        }
                    }
                }
            }
            & .social_icon {
                & .links_footer {
                    & a {
                        box-shadow: 0px 0px 10px #dadae4 !important;
                        // box-shadow: 0px 0px 10px #000000a6 !important;
                        transition: all .4s;
                        &:hover {
                            border-radius: 10px !important;
                            color: $theme2 !important;
                            transform: translateX(0px) !important;
                            & i {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}


.copyright {
    & .copyright-inner {
        border-top: 4px solid rgb(7 20 74 / 7%);
    }
}