.heading {
    & .inner_contant {
        // text-shadow: 0 2px 3px rgba($black, 0.6);
        position: relative; 
        &::after{
            content: "";
            position: absolute;
            width: 80px;
            height: 2px;
            margin-bottom: 20px;
            background: linear-gradient(90deg, $theme1 0%, rgb($theme2, 0.3) 100%);
            bottom: -30px;
            left: 0;
        }
        &.inner_heading {
            &::after{
                background: linear-gradient(90deg, $black 0%, $gray-200 100%);
            }
        }
    }
}
.inner_span {
    // text-shadow: 0 2px 3px rgba($theme1, 0.6);
    background: linear-gradient(to right, $theme1, $theme2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}



.box_head {
    &::after{
        margin-bottom: 5px !important;
        width: 60px !important;
        bottom: -10px !important;
    }
}